<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <form [formGroup]="homeworkForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="inputName">Heading</label>
              <input class="form-control" type="text" formControlName="heading">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.heading.errors?.required">
                Heading is required.
              </div>
            </div>
            <div class="form-group">
                <label for="inputName">Message</label>
                <input class="form-control" type="text" formControlName="message">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.message.errors?.required">
                  Message is required.
                </div>
              </div>
            
    
           
            <div class="form-group">
              <button class="btn btn-vayati " type="submit">Add Homework</button>
            </div>
            <!--Success Message-->
            <div class="row"  *ngIf="showMsg">
              <div class="col-xs-12">
                <p class="alert alert-warning">
                    <strong>Homework Created Successful!</strong>
               </p>
              </div>
            </div>
          </form>
    
        </div>
      </div>
      
    </div>
  </div>
</div>